#devices {
    text-align: center;
    margin-top: 30px;
}

#types {
    display: flex;
    justify-content: center;
}

#selected {
    color: #00ff00;
}

.type {
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    padding-bottom: 0;
    color: #e6e6e6;
}

.type p {
    font-weight: bold;
    font-size: 20px;
    position: relative;
}

#values {
    position: relative;
}

#values::before,
#values::after {
    --size: 0.4rem;
    position: absolute;
    content: "";
    right: 1rem;
    pointer-events: none;
}

#values::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid #fff;
    top: 30%;
    right: 35px;
}

#values::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid #fff;
    top: 57%;
    right: 35px;
}

#values select {
    width: 150px;
    border-radius: 5px;
    border: 1px solid #4b4b4b;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    outline: none;
    appearance: none;
    cursor: pointer;
    padding: 10px;
    padding-right: 2rem;
}

#values select option {
    background-color: #000;
}
