#settings {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 3;
}

#switch {
    text-align: center;
    padding: 10px 0 10px 0;
}

#switch svg {
    font-size: 20px;
    cursor: pointer;
    margin-top: 3px;
}

#box {
    transition: 0.5s;
    height: 100%;
}

#items {
    padding: 15px;
}

.item {
    display: flex;
}

.key {
    flex: 1;
    margin-right: 5px;
    line-height: 30px;
}

.key span {
    color: #555;
}

.value {
    flex: 2;
    display: flex;
}

.value > * {
    flex: auto;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0);
}

.value input {
    width: 100%;
    border-bottom: 1px solid #eee;
    outline: none;
}
