* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    border: 0;
    overflow: hidden;
    user-select: none;
}

.settings-hide #settings {
    top: 400px;
    background-color: rgba(0, 0, 0, 0);
}

.settings-min #settings {
    top: 360px;
    background-color: rgba(0, 0, 0, 0);
}

.settings-max #settings {
    top: 0;
    background-color: rgba(0, 0, 0, 1);
}

.settings-max #card {
    margin-top: 70px;
    background-color: #fff;
    border-radius: 15px;
}

.settings-min #card {
    margin-top: 0;
    background-color: #000;
    border-radius: 0;
}

#view {
    background-color: #353535;
    border-radius: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #0c9cf8;
}

    #view #devices {
        text-align: center;
        margin-top: 30px;
    }

        #view #devices #kinds {
            display: flex;
            justify-content: center;
        }

            #view #devices #kinds .kind-selected p {
                color: #00ff00;
            }

            #view #devices #kinds .kind {
                color: rgba(0, 0, 0, 0);
            }

            #view #devices #kinds img {
                padding: 10px;
                transition: 0.3s;
                cursor: pointer;
                position: relative;
                padding-bottom: 0;
            }

            #view #devices #kinds p {
                font-weight: bold;
                font-size: 20px;
                position: relative;
            }

        #view #devices #values {
            position: relative;
        }

            #view #devices #values::before,
            #view #devices #values::after {
                --size: 0.4rem;
                position: absolute;
                content: "";
                right: 1rem;
                pointer-events: none;
            }

            #view #devices #values::before {
                border-left: var(--size) solid transparent;
                border-right: var(--size) solid transparent;
                border-bottom: var(--size) solid #fff;
                top: 30%;
                right: 35px;
            }

            #view #devices #values::after {
                border-left: var(--size) solid transparent;
                border-right: var(--size) solid transparent;
                border-top: var(--size) solid #fff;
                top: 57%;
                right: 35px;
            }

            #view #devices #values select {
                width: 150px;
                border-radius: 5px;
                border: 1px solid #4b4b4b;
                background-color: rgba(0, 0, 0, 0);
                color: #fff;
                outline: none;
                appearance: none;
                cursor: pointer;
                padding: 10px;
                padding-right: 2rem;
            }

            #view #devices #values select option {
                background-color: #000;
            }

            #view #switch {
                width: 100%;
                margin-top: 30px;
            }

        #view #switch #box {
            margin: 0 auto;
            width: 108px;
            height: 108px;
            position: relative;
        }

            #view #switch #box #ring {
                width: 100px;
                height: 100px;
                background-color: #fff;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                border-radius: 50%;
                border: 4px solid #fff;
            }

        #view #switch button {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: green;
            cursor: pointer;
            transition: 0.5s;
            position: absolute;
            top: 4px;
            left: 4px;
            z-index: 2;
        }

            #view #switch button img {
                width: 30%;
            }

    #view #id {
        text-align: center;
        margin-top: 30px;
    }

        #view #id p {
            color: #999;
            margin-bottom: 5px;
        }

        #view #id span {
            font-size: 20px;
            font-weight: bold;
            color: #fff;
        }

    #view #settings {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: 0.5s;
        z-index: 3;
    }

        #view #settings #settings-switch {
            text-align: center;
            padding: 10px 0 10px 0;
        }

            #view #settings #settings-switch img {
                width: 20px;
                cursor: pointer;
            }

    #view #card {
        transition: 0.5s;
        height: 100%;
    }

    #view #settings #items {
        padding: 15px;
    }

    #view #items .item {
        display: flex;
    }

        #view #items .item .key {
            flex: 1;
            margin-right: 5px;
            line-height: 30px;
        }

            #view #items .item .key span {
                color: #555;
            }

        #view #items .item .value {
            flex: 2;
            display: flex;
        }

            #view #items .item .value > * {
                flex: auto;
                line-height: 30px;
                background-color: rgba(0, 0, 0, 0);
            }

    #view #items input {
        width: 100%;
        border-bottom: 1px solid #eee;
        outline: none;
    }
