<html>
<head>
    <meta charset="UTF-8" />
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="./index.js"></script>
    <link rel="stylesheet" href="./index.css" />
</head>
<body>
    <div id="app">
        <div id="arrow"
             :class="working ? 'settings-hide' : (settings.status ? 'settings-max': 'settings-min')">
            <div id="arrow-item"></div>
        </div>

        <div id="view"
             :class="working ? 'settings-hide' : (settings.status ? 'settings-max': 'settings-min')">

            <!--
        close
        -->
            <img id="clsoe"
                 src="./icon/close.svg" 
                 @click="close"/>

            <!--
        start/stop sender button
        -->
            <div id="switch">
                <div id="box">
                    <div id="ring"
                         :style="ring.style">
                    </div>
                    <button @click="switch_sender">
                        <img src="./icon/cast.svg"
                             v-show="!working" />
                        <img src="./icon/power-off.svg"
                             v-show="working" />
                    </button>
                </div>
            </div>

            <!--
        devices
        -->
            <div id="devices">
                <div id="kinds">
                    <div class="kind"
                         :class="devices.kind == 'screen' ? 'kind-selected' : null">
                        <img src="./icon/screen.svg"
                             width="20px"
                             @click="kind_select('screen')" />
                        <p style="top: -5px;">·</p>
                    </div>
                    <div class="kind"
                         :class="devices.kind == 'window' ? 'kind-selected' : null">
                        <img src="./icon/window.svg"
                             width="17px"
                             style="top: 1px;"
                             @click="kind_select('window')" />
                        <p style="top: -2px;">·</p>
                    </div>
                    <div class="kind"
                         :class="devices.kind == 'video' ? 'kind-selected' : null">
                        <img src="./icon/camera.svg"
                             width="21px"
                             style="top: -1px;"
                             @click="kind_select('video')" />
                        <p style="top: -7px;">·</p>
                    </div>
                </div>
                <div id="values">
                    <select v-model="devices.index"
                            :title="devices.values[devices.index]?.id">
                        <option v-for="(item, index) of devices.values"
                                :value="index">
                            {{ item.id }}
                        </option>
                    </select>
                </div>
            </div>

            <!--
        channel number
        -->
            <div id="id">
                <p>channel:</p>
                <span>#{{ settings.value.id }}</span>
            </div>

            <!--
        settings
        -->
            <div id="settings">
                <div id="card">

                    <!--
                settings switch button
                -->
                    <div id="settings-switch">
                        <img :src="settings.status ? './icon/down.svg' : './icon/settings.svg'"
                             @click="settings_switch" />
                    </div>

                    <!--
                settings values
                -->
                    <div id="items">

                        <!--
                    channel number
                    -->
                        <div class="item">
                            <div class="key">
                                <span>Channel:</span>
                            </div>
                            <div class="value">
                                <input type="number"
                                       v-model="settings.value.id" />
                            </div>
                        </div>

                        <!--
                    video encoder
                    -->
                        <div class="item">
                            <div class="key">
                                <span>Encoder:</span>
                            </div>
                            <div class="value">
                                <select v-model="settings.value.encoder">
                                    <option value="libx264">x264</option>
                                    <option value="h264_qsv">qsv</option>
                                    <option value="h264_nvenc">nvenc</option>
                                </select>
                            </div>
                        </div>

                        <!--
                    video decoder
                    -->
                        <div class="item">
                            <div class="key">
                                <span>Decoder:</span>
                            </div>
                            <div class="value">
                                <select v-model="settings.value.decoder">
                                    <option value="h264">h264</option>
                                    <option value="h264_qsv">qsv</option>
                                    <option value="h264_cuvid">cuvid</option>
                                </select>
                            </div>
                        </div>

                        <!--
                    video size
                    -->
                        <div class="item">
                            <div class="key">
                                <span>Size:</span>
                            </div>
                            <div class="value">
                                <input type="text"
                                       v-model="settings.value.size.width" />
                                <input type="text"
                                       v-model="settings.value.size.height" />
                            </div>
                        </div>

                        <!--
                    video fps
                    -->
                        <div class="item">
                            <div class="key">
                                <span>FPS:</span>
                            </div>
                            <div class="value">
                                <input type="text"
                                       v-model="settings.value.fps" />
                            </div>
                        </div>

                        <!--
                    video bit rate
                    -->
                        <div class="item">
                            <div class="key">
                                <span>BitRate:</span>
                            </div>
                            <div class="value">
                                <input type="text"
                                       v-model="settings.value.bitrate" />
                            </div>
                        </div>

                        <!--
                    udp multicast ip
                    -->
                        <div class="item">
                            <div class="key">
                                <span>Multicast:</span>
                            </div>
                            <div class="value">
                                <input type="text"
                                       v-model="settings.value.multicast" />
                            </div>
                        </div>

                        <!--
                    network MTU
                    -->
                        <div class="item">
                            <div class="key">
                                <span>MTU:</span>
                            </div>
                            <div class="value">
                                <input type="text"
                                       v-model="settings.value.mtu" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>